.btn-add-cart {
    width: 300rpx;
    height: 50rpx;
    color:red;
  }
  
  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100rpx;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end
  }
  .icon{
    height:64rpx;
    width:64rpx;
    padding:10rpx;
    margin-right:30rpx;
    border-radius: 50%;
    background-color: royalblue;
  }
  .ball{
    position: absolute;
    width:30rpx;
    height:30rpx;
    background-color: red;
    border-radius: 50%;
    z-index:999;
    transition: 1s top cubic-bezier(0.47, 0, 0.745, 0.715), 1s left cubic-bezier(0, 0, 0, 0);
    // animation: add-goods 0.6s cubic-bezier(0, -0.405, 1, 0.99) forwards;
  }




 // 动画
// @keyframes add-goods {
//     0% {
//         transform: translate(0, 0);
//     }

//     30% {
//         transform: translate(-150%, -100%);
//     }

//     100% {
//         top: 100vh;
//         left: 65%;
//         transform: translate(0, 0);
//     }
// }